#grafica-contenedor1 {
    width: 28%; /* Cambia el ancho a 400px */
    height: 42.5%; /* Cambia la altura a 400px */
    position: absolute;
    left: 71%; /* Mueve el contenedor 100px a la derecha */
    top: 15%; /* Mueve el contenedor 150px hacia abajo */
    border: 3px; /* Cambia el borde a azul y lo hace más grueso */
    border-radius: 30px; /* Ajusta el valor según tu preferencia para el redondeo de las esquinas */
    background-color: white; /* Establece el color de fondo a blanco */
}

#grafica-contenedor2 {
    width: 19.5%;
    height: 56.5%;
    position: absolute;
    left: 50.55%;
    top: 1%;
    border: 2px;
    border-radius: 30px; /* Ajusta el valor según tu preferencia para el redondeo de las esquinas */
    background-color: white; /* Establece el color de fondo a blanco */
}

#grafica-contenedor3 {
    width: 48.5%;
    height: 33.5%;
    position: absolute;
    left: 50.55%;
    top: 59.5%;
    border: 2px;
    border-radius: 30px; /* Ajusta el valor según tu preferencia para el redondeo de las esquinas */
    background-color: white; /* Establece el color de fondo a blanco */
}

#grafica-contenedor4 {
    width: 49%;
    height: 33.3%;
    position: absolute;
    left: 0.7%;
    top: 59.5%;
    border: 2px;
    border-radius: 30px; /* Ajusta el valor según tu preferencia para el redondeo de las esquinas */
    background-color: white; /* Establece el color de fondo a blanco */
}

#grafica-contenedor5 {
    width: 17.5%;
    height: 56.5%;
    position: absolute;
    left: 32.3%;
    top: 1%;
    border: 2px;
    border-radius: 30px; /* Ajusta el valor según tu preferencia para el redondeo de las esquinas */
    background-color: white; /* Establece el color de fondo a blanco */
}

#map-container {
    width: 30.7%;
    height: 56.5%;
    position: absolute;
    left: 0.7%;
    top: 1%;
    border-radius: 30px; /* Ajusta el valor según tux preferencia para el redondeo de las esquinas */
    background-color: white; /* Establece el color de fondo a blanco */
    overflow: hidden; /* Oculta el contenido que se desborda */
}

#grafica-contenedor1,
#grafica-contenedor2,
#grafica-contenedor3,
#grafica-contenedor4,
#grafica-contenedor5, 
.tarjeta,
#map-container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega sombra a los bordes */
}

/* Estilo para todas las tarjetas */
.tarjeta {
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    width: 10.5%; /* Puedes ajustar el ancho según tus necesidades */
    height: 6.7%; /* Puedes ajustar la altura según tus necesidades */
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar el contenido verticalmente */
    font-family: 'Arial Bold', sans-serif;
    font-size: 80%;
}

/* Posicionamiento específico para cada tarjeta */
#tarjeta-total-registros {
    left: 1025px;
    background-color: #11a216ff;
    top: 10px;
}

#tarjeta-numero-especies {
    left: 1230px;
    background-color: #11a216ff;
    top: 10px;
}

.tarjeta p {
    font-size: 24px; /* Aumenta el tamaño de la fuente del párrafo */
    margin-top: 0; /* Si aún no lo has hecho, elimina el margen superior */
}

#nombre-contenedor {
    width: 50%; /* Asegúrate de que ocupe todo el ancho de la pantalla */
    position: fixed;
    bottom: 0;
    right: 0; /* Ancla el contenedor al lado derecho de la pantalla */
    background-color: rgba(26, 114, 51, 0.7);
    padding: 0.28% 2%; /* top, right, bottom, left */
    font-size: 19px;
    color: rgb(255, 255, 255);
    z-index: 10;
    text-align: right; /* Alinea el texto a la izquierda dentro del contenedor */
    border-radius: 0; /* Elimina el redondeo de las esquinas si quieres que se extienda completamente */
    font: oblique bold 120% cursive;
}

#nombre-aves {
    width: 50%; /* Asegúrate de que ocupe todo el ancho de la pantalla */
    position: fixed;
    bottom: 0;
    left: 0; /* Ancla el contenedor al lado derecho de la pantalla */
    background-color: rgba(26, 114, 51, 0.7);
    padding: 0.28% 2%; /* top, right, bottom, left */
    font-size: 19px;
    color: rgb(255, 255, 255);
    z-index: 10;
    text-align: left; /* Alinea el texto a la izquierda dentro del contenedor */
    border-radius: 0; /* Elimina el redondeo de las esquinas si quieres que se extienda completamente */
    font: oblique bold 120% cursive;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image: url('pajaro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilos para el contenedor de los botones */
.link-container {
    position: fixed; /* Posición fija en la parte inferior */
    bottom: 0;
    left: 50%; /* Iniciar desde la mitad de la pantalla */
    transform: translateX(-50%); /*  hacia atrás la mitad de su ancho para centrar */
    display: inline-block;
    text-align: center; /* Centrar el contenido */
    background-color: rgba(0, 0, 0, 0); /* Contenedor transparente */
    z-index: 1000;
}

/* Estilos para los botones/enlaces */
.custom-link {
    text-decoration: none;
    color: white;
    background-color: #0a5b0f;
    padding: 10px 20px;
    border-radius: 0px;
    transition: background-color 0.3s ease;
    display: inline-block; /* Para que se puedan centrar con text-align */
    margin: 0 5px; /* Espaciado entre botones */
}

.custom-link:hover {
    background-color: #0056b3;
}

/* style.css */
.background-image {
    background-image: url('/assets/intro1.png'); /* Asegúrate de que la ruta sea correcta */
    height: 100vh; /* O la altura que desees para tu imagen de fondo */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.responsive-graph {
    width: 100%;
    height: 105%;
}   

.responsive-graph1 {
    width: 100%;
    height: 100%;
}

.responsive-graph2 {
    width: 105%;
    height: 115%;
}
